language: objective-c
osx_image: xcode8.3
podfile: Podfile
install:
- pod install
- pod update
xcode_workspace: Travis-Test.xcworkspace
xcode_scheme: Travis-Test
script: xcodebuild clean && xcodebuild build -workspace Travis-Test.xcworkspace -scheme Travis-TestTests -sdk iphonesimulator CODE_SIGNING_REQUIRED=NO
