language: objective-c
osx_image: xcode8.3
podfile: Podfile
install:
- pod install
- pod update
xcode_workspace: Travis-Test.xcworkspace
xcode_scheme: Travis-Test
script: xcodebuild test -workspace Travis-Test.xcworkspace -scheme Travis-Test -destination 'platform=iOS Simulator,name-iPhone 6' -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
