language: objective-c
osx_image: xcode8.3
xcode_project: Travis-Test.xcodeproj
xcode_scheme: Travis-Test
xcode_sdk: iphonesimulator7.1
script: xcodebuild -workspace Travis-Test.xcodeproj -scheme Travis-Test -sdk iphonesimulator7.1 -configuration Debug build test
